<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-10">
            <div class="id">
              <div class="label">
                <p>5</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Risk of Acute Exacerbations</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center position-relative">
          <div class="text copy col-9">
            <p class="big">Sometimes, IPF can worsen because of an acute exacerbation. An acute exacerbation is a sudden and unpredictable worsening of IPF that often results in hospitalization and can even be fatal. </p>
            <br/>
            <p class="big lora">During an acute exacerbation, you could experience:</p>
          </div>
          <div class="video first col-10">
            <img src="assets/videos/video001.jpg" alt="">
            <p class="label">Breathing becoming more difficult than usual</p>
          </div>
          <div class="video col-10">
            <img src="assets/videos/video002.jpg" alt="">
            <p class="label">Worsening cough</p>
          </div>
          <div class="video col-10">
            <img src="assets/videos/video003.jpg" alt="">
            <p class="label">Fever or flu-like symptoms</p>
          </div>
          <div class="text copy col-9">
            <p class="big lora">If you experience the symptoms above, be sure to call your doctor right away. </p>
            <br/>
            <p>An acute exacerbation can occur at any time during the course of the disease—from diagnosis of IPF to more advanced IPF. </p>
            <br/>
            <p>People who have an acute exacerbation have a higher risk of another acute exacerbation. A person’s condition after an acute exacerbation can vary, but it often results in shortened survival due to the exacerbation’s new lung damage that worsens FVC and DLCO. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>