<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-10">
            <div class="id">
              <div class="label">
                <p>5</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Risk of Acute Exacerbations</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content" id="container-5">
        <div class="row justify-content-center position-relative">
          <div class="text copy col-9">
            <p>As time goes on, the abnormal “healing” process creates more and more thick scar tissue in the alveoli walls and the spaces around the alveoli.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>