@import "src/assets/scss/section.scss";

section {
    nav {
        background: url('/assets/heroes/section5-hero.jpg') center top no-repeat;
        .content {
            // height: initial;
            .title {
                // position: initial;
                .text {
                    background-color: #666;
                    h1 {
                        color: #fff;
                    }
                }
            }
        }
    }
    .main {
        background-color: #666;
        padding-bottom: 50px;
        .content {
            // margin-top: initial;
            .row {
                p {
                    color: #fff;
                }
                .copy {
                    .big {
                        font-size: $normal-font-size;
                        line-height: 42px;
                    }
                }
                .video {
                    margin-bottom: 75px;
                    video {
                        width: 100%;
                    }
                    .label {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                        font: $normal-font-size/30px $lora;
                        text-align: center;
                        white-space: nowrap;
                        margin-bottom: 0;
                    }
                    &.first {
                        margin-top: 75px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    section {
        nav {
            .content {
                background-color: #666;
            }
        }
        .main {
            background-color: #666;
            .content {
                .row {
                    .copy {
                        .big {
                            font-size: $mobile-font-size;
                            line-height: 7.363vw;
                        }
                    }
                    .video {
                        margin-bottom: 30px;
                        &.first {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}