<footer class="container-fluid main-footer">
  <div class="row">
    <div class="container content">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>
              <a href="http://docs.boehringer-ingelheim.com/Privacy%20Statements/BIPI%20Online%20Privacy%20Policy.htm" target="_blank">Privacy Notice</a>
            </li>
            <li>
              <a href="http://docs.boehringer-ingelheim.com/Terms%20and%20Conditions/Website%20Terms%20and%20Conditions" target="_blank">Terms of Use</a>
            </li>
            <li>
              <a href="https://www.bi-druginforequest.com/contactUsWeb/Controller.jpf?companyID=4&amp;type=2" target="_blank">Contact Us</a>
            </li>
            <!-- <li>
              <a href="/all-articles" class="interstitial">All Articles</a>
            </li> -->
          </ul>
          <hr>
        </div>  
      </div>
      <div class="row">
        <div class="col-12 col-md-9">
          <p class="note">Note: The physicians in the images appearing throughout this website are portrayed by actors unless otherwise noted.</p>
          <p>THIS INFORMATION IS FOR U.S. RESIDENTS ONLY. <br>COPYRIGHT © 2019. BOEHRINGER INGELHEIM PHARMACEUTICALS, INC. ALL RIGHTS RESERVED. USE OF THIS SITE IS SUBJECT TO THE INTERNET SITE LEGAL NOTICES AND DISCLAIMERS AND PRIVACY STATEMENT. 02/19 LUNGSANDYOU IS A TRADEMARK OF BOEHRINGER INGELHEIM PHARMACEUTICALS, INC.</p>
          <br/>
        </div>
        <div class="col-12 col-md-3 right">
          <a href="https://www.boehringer-ingelheim.us/" target="_blank" title="Boehringer Ingelheim">
            <img src="assets/icons/boehringer-ingelheim.svg" alt="Boehringer Ingelheim">
          </a>
          <br/><br/>
          <p class="code">PC-US-106474</p>
        </div>
      </div>
    </div>
  </div>
  <div class="addthis_inline_share_toolbox"></div>
</footer>

