/* Variables */

$green1: #44a691;
$green2: #0f737a;
$orange: #f89226;

$lato-heavy: 'Lato Heavy', sand-serif;
$lato-bold: 'Lato Bold', sand-serif;
$lato: 'Lato Regular', sand-serif;
$lora: 'Lora', serif;
$klinicslab-bold: 'KlinicSlab Bold', serif;

$normal-font-size: 24px;
$normal-line-height: 36px;

$mobile-font-size: 4.2vw;
$mobile-line-height: 6.25vw;
$mobile-padding: 6.25vw;
$mobile-margin: 6.25vw;