<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-10">
            <div class="id">
              <div class="label">
                <p>4</p>
              </div>
            </div>
            <div class="text normal">
              <h1>How Disease Progression Affects the Body</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content" id="container-3">
        <div class="row justify-content-center position-relative">
          <div class="text copy col-9">
            <p>As time goes on, the abnormal “healing” process creates more and more thick scar tissue in the alveoli walls and the spaces around the alveoli.</p>
            <br/>
            <ul>
              <li><p>shortness of breath</p></li>
              <li><p>a dry, hacking cough</p></li>
              <li><p>rapid, shallow breathing</p></li>
              <li><p>fatigue</p></li>
              <li><p>gradual weight loss</p></li>
              <li><p>aching muscles and joints</p></li>
              <li><p>widening and rounding of the fingertips or toes</p></li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center squares">
          <div class="col square left">
            <img src="assets/squares/image004.jpg" alt="">
          </div>
          <div class="col square">
            <img src="assets/squares/image005.jpg" alt="">
          </div>
          <div class="col square right">
            <img src="assets/squares/image006.jpg" alt="">
          </div>
          <div class="col square left">
            <img src="assets/squares/image007.jpg" alt="">
          </div>
          <div class="col square">
            <img src="assets/squares/image008.jpg" alt="">
          </div>
          <div class="col square right">
            <img src="assets/squares/image009.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>