<nav class="side-nav d-none d-lg-block">
  <div class="nav-item section-0 active">
    <a [routerLink]="" (click)="goTo(0)">
      <div>
        <p>HOME</p>
      </div>
    </a>
  </div>
  <div class="nav-item section-1">
    <a [routerLink]="" (click)="goTo(1)">
      <div>
        <p>1 <span>What is IPF Progression?</span></p>
      </div>
    </a>
  </div>
  <div class="nav-item section-2">
    <a [routerLink]="" (click)="goTo(2)">
      <div>
        <p>2 <span>The Lungs’ Healing Process</span></p>
      </div>
    </a>
  </div>
  <div class="nav-item section-3">
    <a [routerLink]="" (click)="goTo(3)">
      <div>
        <p>3 <span>Scarring Progresses</span></p>
      </div>
    </a>
  </div>
  <div class="nav-item section-4">
    <a [routerLink]="" (click)="goTo(4)">
      <div>
        <p>4 <span>How Disease Progression<br class="d-md-none"/> Affects the Body</span></p>
      </div>
    </a>
  </div>
  <div class="nav-item section-5">
    <a [routerLink]="" (click)="goTo(5)">
      <div>
        <p>5 <span>Risk of Acute Exacerbations</span></p>
      </div>
    </a>
  </div>
  <div class="nav-item section-6">
    <a [routerLink]="" (click)="goTo(6)">
      <div>
        <p>6 <span>Slowing Progression </span></p>
      </div>
    </a>
  </div>
</nav>