<nav class="container-fluid main-nav">
  <div class="row">
    <div id="logo">
      <div id="lungs-and-you">
          <a href="/" title="Lungs and You Logo">
            <div id="logo-container"></div>
          </a>
      </div>
    </div>
    <div id="title">
        <h1><span class="d-none d-lg-block">Understanding IPF Progression</span></h1>
        <a [routerLink]="" (click)="showMenu()"></a>
    </div>
    <div id="social-media">
      <div id="facebook">
        <a [routerLink]="" (click)="share('facebook')">
          <div id="facebook-icon-container"></div>
        </a>
      </div>
      <div id="twitter">
        <a [routerLink]="" (click)="share('twitter')">
            <div id="twitter-icon-container"></div>
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- <div id="debugger">
  <p>Here!</p>
</div> -->