@import "src/assets/scss/section.scss";

nav {
    position: fixed;
    top: 0;
    background-color: #fff; // Dev
    z-index: 1000;
    border-bottom: 1px solid #000;
    height: 70px;
    h1, select {
        font-size: 24px;
        color: rgb(60, 60, 60);
        line-height: 70px;
        text-align: center;
    }
    select {
        font-family: $lora;
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 160px;
        padding: 11px;
        a {
            img {
                width: 138px;
            }
        }
    }
    #social-media {
        position: absolute;
        top: 0;
        right: 0;
        height: 70px;
        width: 120px;
        padding: 14px 13px;
        a {
            img {
                width: 94px;
            }
        }
    }
}

.line {
    position: fixed;
    top: 50%;
    width: 100%;
    border-bottom: 1px dotted #000;
    z-index: 1000;;
}
