@import "src/assets/scss/section.scss";

nav {
    position: fixed;
    top: 0;
    background-color: #fff; // Dev
    z-index: 1000;
    border-bottom: 1px solid #000;
    height: 70px;
    #title {
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        h1 {
            font-size: $normal-font-size;
            color: rgb(60, 60, 60);
            line-height: 70px;
        }
    }
    #logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 160px;
        padding: 11px;
        a {
            img {
                width: 138px;
            }
        }
    }
    #social-media {
        position: absolute;
        top: 0;
        right: 0;
        height: 70px;
        padding-right: 8px;
        #facebook, #twitter {
            display: inline-block;
            padding: 14px 5px;
        }
    }
}

.line {
    position: fixed;
    top: 50%;
    width: 100%;
    border-bottom: 1px dotted #000;
    z-index: 1000;;
}

//Tablet
@media only screen and (max-width: 1024.98px) {
    nav {
        #title {
            h1 {
            }    
        }
        
    }
}

//Mobile
@media only screen and (max-width: 767.98px) {
    nav {
        height: 42px;
        h1, select {
            font-size: $mobile-font-size;
        }
    }
}