<nav class="container-fluid main-nav">
  <div class="row">
    <div id="logo">
      <a href="/" title="Lungs and You Logo">
        <img src="assets/icons/lungs-and-you.svg" alt="Lungs and You Logo">
      </a>
    </div>
    <div id="social-media">
      <a href="">
        <img src="assets/icons/social-icons.png" alt="">
      </a>
    </div>
    <div class="container content">
      <h1 id="title" class="d-none d-lg-block">Understanding IPF Progression</h1>
      <select name="title" id="mobile-menu" class="d-lg-none" (change)="goTo($event.target.selectedIndex)">
        <option value="0">Understanding IPF Progression</option>
        <option value="1">What is IPF Progression?</option>
        <option value="2">The Lungs’ Healing Process</option>
        <option value="3">Scarring Progresses</option>
        <option value="4">How Disease Progression Affects the Body</option>
        <option value="5">Risk of Acute Exacerbations</option>
        <option value="6">Slowing Progression</option>
      </select>
    </div>
  </div>
</nav>