<nav class="container-fluid main-nav">
  <div class="row">
    <div id="logo">
      <a href="/" title="Lungs and You Logo">
        <img src="assets/icons/lungs-and-you.svg" alt="Lungs and You Logo">
      </a>
    </div>
    <div id="social-media">
      <a href="">
        <img src="assets/icons/social-icons.png" alt="">
      </a>
    </div>
    <div class="container content">
      <h1 class="title">Understanding IPF Progression</h1>
    </div>
    <div class="addthis_inline_share_toolbox"></div>
  </div>
</nav>

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                
            
<!-- <div class="line"></div> -->