<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section0-mobile-hero.jpg" alt="">
      </div>
      <div class="mobile-hero-base d-md-none">
        <img src="assets/heroes/mobile-hero-base.png" alt="">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-lg-10">
            <div class="id">
              <div class="label">
              </div>
            </div>
            <div class="text normal">
              <h1>Understanding IPF Progression</h1>
              <h3 class="scroll d-none d-lg-block">SCROLL TO<br>LEARN MORE</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center position-relative">
          <div class="text copy col-lg-9">
            <p>If you’ve been diagnosed with idiopathic pulmonary fibrosis (IPF), one of the most important things for you to understand about your disease is progression. By understanding how IPF progresses, you’ll be armed with the information you need to make important decisions about disease management, lifestyle changes, supportive needs, palliative care,
                and treatment. The more you know, the more empowered you’ll feel to take charge of your care.</p>
            <br>
            <p class="last">This guide can help. It will educate you about what IPF progression is, what it means for your body, and why slowing progression is so critical. Continue scrolling to learn more about IPF progression. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>