<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-10">
            <div class="id">
              <div class="label">
                <p>1</p>
              </div>
            </div>
            <div class="text normal">
              <h1>What Is IPF Progression?</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="text copy col-9">
            <p>Before learning about how IPF progresses, let’s start by defining what progression is. Progression means
              that IPF will continue to worsen over time and cause permanent and irreversible damage to the lungs. This
              progression can present itself many different ways.</p>
            <br>
            <p>Some people may notice worsening symptoms, see changes in <a href="#">tests</a>, like high-resolution computed
              tomography (HRCT) scans or diffusing capacity (DLCO), or have to go on supplemental oxygen, while others
              may not notice any signs of progression for a long time.</p>
          </div>
        </div>
        <div class="row justify-content-center squares">
          <div class="col square left">
            <img src="assets/squares/image001.jpg" alt="">
          </div>
          <div class="col square">
            <img src="assets/squares/image002.jpg" alt="">
          </div>
          <div class="col square right">
            <img src="assets/squares/image003.jpg" alt="">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text copy col-9">
            <p>Some people may notice worsening symptoms, see changes in <a href="#">tests</a>, like high-resolution computed
              tomography (HRCT) scans or diffusing capacity (DLCO), or have to go on supplemental oxygen, while others
              may not notice any signs of progression for a long time.</p>
            <p>No matter how IPF affects you, it’s important to understand that <strong>disease is always progressing at varying rates, which is why it’s so important to take action early.</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>