@import "src/assets/scss/section.scss";

section {
    // padding-top: 50px;
    nav {
        background: url('/assets/heroes/section6-hero.jpg') center top no-repeat;
    }
    .main {
        background: url('/assets/main-site/bg-template.png') center bottom no-repeat;
        background-size: contain;
        .content {
            .row {
                text {
                    padding: 30px 50px;
                }
                .quote {
                    margin: 80px 0;
                    .box {
                        padding: 36px 40px;
                        p:first-of-type {
                            text-align: left;
                        }
                    }
                }
                .cta {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    background-color: #f89226;
                    font: 20px/50px "Lato Heavy", sand-serif;
                    color: #fff;
                    box-shadow: 3px 3px 0px 0px rgba(248, 146, 38, 0.4);
                    margin-bottom: 3px;
                }
                .rating {
                    text-align: center;
                    .stars {
                        unicode-bidi: bidi-override;
                        direction: rtl;
                        margin-bottom: 1em;
                        .star:hover:before, .star:hover ~ .star:before {
                            content: "";
                            position: absolute;
                            width: 42px;
                            height: 42px;
                            left: 4px;
                            top: -10px;
                            background-image: url('/assets/icons/rate-star-filled.svg');
                        }
                        .off {
                            cursor: auto;
                        }
                        img {
                            width: 42px;
                            margin: 4px;
                        }
                    }
                    
                    p {
                        font: 24px/36px $lato-heavy;
                    }
                    p:last-of-type {
                        border-bottom: 1px solid #b7b7b7;
                        padding-bottom: 20px;
                        margin-bottom: 50px;
                    }
                    #rating-text {
                        opacity: 0;
                        transition: opacity .5s;
                        &.on {
                            opacity: 1;
                        }
                    }
                }
                .helpful-links {
                    text-align: center;
                    .top {
                        height: 105px;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        background: url(/assets/main-site/top-related.png) top center no-repeat;
                        font: 28px/85px $klinicslab-bold;
                        color: #fff;
                    }
                    .bottom {
                        background-color: #fff;
                        border-bottom-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        margin-bottom: 60px;
                        padding: 30px 0;
                        a {
                            .img-container {
                                height: 140px;
                                overflow: hidden;
                                .related {
                                    // width: 100%;
                                    height: 100%;
                                    -webkit-transition: all 1s ease;
                                    transition: all 1s ease;
                                    background-size: cover;
                                }
                                #related-1 {
                                    background: url(/assets/main-site/related-001.jpg) top center no-repeat;
                                }
                                #related-2 {
                                    background: url(/assets/main-site/taking-charge-Thumb.jpg) top center no-repeat;
                                }
                                #related-3 {
                                    background: url(/assets/main-site/related-001.jpg) top center no-repeat;
                                }
                            }
                            &:hover .img-container > div {
                                transform: scale(1.1);
                            }
                        }
                        a.category {
                            p {
                                font: 12px $klinicslab-bold;
                                color: #b5b5b5;
                                text-align: left;
                                margin: 10px 0;
                                text-transform: uppercase;
                            }
                        }
                        a.article {
                            h3 {
                                text-align: left;
                                font-size: 18px;
                                font-family: $lato-bold;
                                color: #fa9300;
                            }
                        }
                    }
                }
            }
        }
    }
}