<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-8">
            <div class="id">
              <div class="label">
                <p>3</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Scarring Progresses</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content" id="container-3">
        <div class="row justify-content-center">
          <div class="text copy col-7">
            <p>As time goes on, the abnormal “healing” process creates more and more thick scar tissue in the alveoli walls and the spaces around the alveoli.</p>
          </div>
          <!-- <div class="quote col-10">
            <div class="box">
              <p>“When I was diagnosed, my IPF had already progressed quite a bit."</p>
              <p>&mdash; Gene, <span>PERSON LIVING WITH THE IPF</span></p>
            </div>
          </div> -->
        </div>
        <div class="row justify-content-center position-relative" id="container-3-1">
          <div id="animation-3-1" class="">
            <img src="assets/elements/lungs000-1.png" id="slide-0" alt="">
            <img src="assets/elements/lungs016.jpg" id="slide-18" alt="">
            <img src="assets/elements/lungs017-1.png" id="slide-19-1" alt="">
            <img src="assets/elements/lungs019-2.png" id="slide-19-2" alt="">
            <img src="assets/elements/lungs019-3.png" id="slide-19-3" alt="">
            <img src="assets/elements/lungs017-1.png" id="slide-20-1" alt="">
            <img src="assets/elements/lungs020-2.png" id="slide-20-2" alt="">
            <img src="assets/elements/lungs020-3.png" id="slide-20-3" alt="">
            <!-- <img src="assets/elements/lungs021.gif" id="slide-21" alt=""> -->
          </div>
          <div id="placeholder-19-1" class="col-12 placeholder step"></div>
          <div id="placeholder-19-2" class="col-12 placeholder step"></div>
          <div id="placeholder-19-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-20" class="text block-text col-8">
            <p>This thickening makes it difficult for oxygen to move across the walls of the alveoli and into blood vessels, called <strong>capillaries</strong>, that provide oxygen-rich blood to the rest of the body.</p>
          </div>
          <div id="placeholder-20-1" class="col-12 placeholder step"></div>
          <div id="placeholder-20-2" class="col-12 placeholder step"></div>
          <div id="placeholder-20-3" class="col-12 placeholder step"></div>
          <div id="placeholder-21" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-3-1-end" class="placeholder">
            <img src="assets/elements/lungs000-1.png" id="slide-0" alt="">
          </div>
        </div>
        <div class="row justify-content-center position-relative">
          <div class="text block-text col-12">
            <p>When this happens, the body’s organs, like the heart and the brain, do not receive the oxygen they need to function properly. </p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-3-2">
          <div id="animation-3-2" class="">
            <img src="assets/elements/lungs000-2.png" id="slide-0" alt="">
            <img src="assets/elements/lungs022.jpg" id="slide-22" alt="">
            <img src="assets/elements/lungs023.png" id="slide-23" alt="">
            <!-- <img src="assets/elements/lungs024.gif" id="slide-24" alt=""> -->
          </div>
          <div class="col-12 placeholder"></div>
          <div id="animation-3-2-end" class="placeholder">
            <img src="assets/elements/lungs000-2.png" id="slide-0" alt="">
          </div>
        </div>
        <div class="row justify-content-center position-relative">
          <div class="text block-text col-12">
            <p>As IPF progresses, sheets of dense scar tissue replace normal lung tissue and shrink the size of the lung. </p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-3-3">
          <div id="animation-3-3" class="">
            <img src="assets/elements/lungs000-1.png" id="slide-0" alt="">
            <img src="assets/elements/lungs025.jpg" id="slide-25" alt="">
            <img src="assets/elements/lungs026.png" id="slide-26" alt="">
            <img src="assets/elements/lungs028.jpg" id="slide-28" alt="">
            <img src="assets/elements/lungs027.png" id="slide-27" alt="">
            <img src="assets/elements/lungs030.jpg" id="slide-30" alt="">
            <img src="assets/elements/lungs031.jpg" id="slide-31" alt="">
            <img src="assets/elements/lungs029.png" id="slide-29" alt="">
          </div>
          <div id="placeholder-26" class="col-12 placeholder"></div>
          <div id="placeholder-27" class="col-12 placeholder"></div>
          <div id="placeholder-28" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div class="text block-text col-8">
            <p>Some areas of the lung may be replaced by thick-walled cystic airspaces called <strong>“honeycombs,”</strong> which may be seen on HRCT scans. </p><br/>
            <p>Honeycombing means there is complete destruction of healthy lung tissue, and the areas of the lung where honeycombing forms no longer allow oxygen to enter the bloodstream. Honeycombing and scarring of the lungs result in shortness of breath, coughing, and other symptoms of IPF.</p>
          </div>
          <div id="placeholder-29" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-31" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-3-3-end" class="placeholder">
            <img src="assets/elements/lungs000-1.png" id="slide-0" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="callout col-9">
            <h3>Learning about IPF progression may be difficult, but you can take charge of your care by reading about a treatment option that may help slow progression.</h3>
            <a href="#">Read About a Treatment Option for IPF</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>