@import "src/assets/scss/section.scss";

section {
    padding-top: 50px;
    nav {
        background: url('/assets/heroes/section3-hero.jpg') center top no-repeat;
        .content {
            .title {
                .text {
                    padding: 39px 44px 37px;
                }
            }
        }
    }
    .main {
        padding-bottom: 250px;
        background: url('/assets/heroes/section3-footer.jpg') center bottom no-repeat;
        background-size: cover !important;
        .content {
            // margin-top: initial;
            .row {
                .copy {
                    // padding: 0 50px;
                }
                text {
                    padding: 30px 50px;
                }
            }
        }
    }
    footer {
        // margin-top: 250px;
        .content {
            .callout {
                h3 {
                    margin-top: 48px;         
                }
                a {
                    width: 59.7%;
                    margin: 28px 0 48px;
                }
            }
        }
    }
}