@import "src/assets/scss/section.scss";

section {
    padding-top: 50px;
    nav {
        background: url('/assets/heroes/section3-hero.jpg') center top no-repeat;
        .content {
            .title {
                .text {
                    padding: 39px 44px 37px;
                }
            }
        }
    }
    .main {
        padding-bottom: 250px;
        background: url('/assets/heroes/section3-footer.jpg') center bottom no-repeat;
        background-size: 100%;
        .content {
            // margin-top: initial;
            .row {
                #animation-3-1, #animation-3-2, #animation-3-3 {
                    position: absolute;
                    top: 0;
                    img {
                        width: 100%;
                        &:not(:first-of-type) {
                            position: absolute;
                            top : 0;
                            left: 0;
                        }
                    }
                    &.fixed {
                        position: fixed;
                        top: 70px;
                    }
                    &.absolute {
                        position: absolute;
                        top: unset;
                        bottom: 0;
                    }
                }
                #placeholder-20-1 {
                    margin-top: -165px;
                }
                #animation-3-1-end, #animation-3-2-end, #animation-3-3-end {
                    height: unset;
                }
            }
        }
    }
    footer {
        // margin-top: 250px;
        .content {
            .callout {
                h3 {
                    margin-top: 48px;         
                }
                a {
                    width: 59.7%;
                    margin: 28px 0 48px;
                }
            }
        }
    }
}