<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section3-mobile-hero.jpg" alt="">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-lg-8">
            <div class="id">
              <div class="label">
                <p>3</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Scarring Progresses</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content" id="container-3">
        <div class="row justify-content-center">
          <div class="text copy col-lg-7">
            <p>As time goes on, the abnormal “healing” process creates more and more thick scar tissue in the alveoli walls and the spaces around the alveoli.</p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-3-1">
          <div id="animation-3-1" class="animation">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
            <img src="assets/elements/lungs016.jpg" id="slide-18" alt="">
            <img data-src="assets/elements/lungs017-1.png" id="slide-19-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs019-2.png" id="slide-19-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs019-3.png" id="slide-19-3" class="responsive" alt="">
            <img data-src="assets/elements/lungs017-1.png" id="slide-20-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs020-2.png" id="slide-20-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs020-3.png" id="slide-20-3" class="responsive" alt="">
            <div class="animation-container" id="slide-21" alt="">
              <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
            </div>
          </div>
          <div id="placeholder-19-1" class="col-12 placeholder step"></div>
          <div id="placeholder-19-2" class="col-12 placeholder step"></div>
          <div id="placeholder-19-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-20" class="text block-text col-8">
            <p>This thickening makes it difficult for oxygen to move across the walls of the alveoli and into blood vessels, called <strong>capillaries</strong>, that provide oxygen-rich blood to the rest of the body.</p>
          </div>
          <div id="placeholder-20-1" class="col-12 placeholder step"></div>
          <div id="placeholder-20-2" class="col-12 placeholder step"></div>
          <div id="placeholder-20-3" class="col-12 placeholder step"></div>
          <div id="placeholder-21" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div class="col-12 placeholder half"></div>
          <div id="animation-3-1-end" class="placeholder">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
          </div>
        </div>
        <div class="row justify-content-center position-relative">
          <div class="text block-text full-block-mobile col-12">
            <p>When this happens, the body’s organs, like the heart and the brain, do not receive the oxygen they need to function properly. </p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-3-2">
          <div id="animation-3-2" class="animation">
            <img data-src="assets/elements/lungs000-2.png" id="slide-0" class="slide-base responsive tablet" alt="">
            <img data-src="assets/elements/lungs022.jpg" id="slide-22" class="responsive tablet" alt="">
            <img data-src="assets/elements/lungs023.png" id="slide-23" class="responsive tablet" alt="">
            <div class="animation-container" id="slide-24" alt="">
              <img data-src="assets/elements/lungs000-2.png" id="slide-0" class="slide-base responsive tablet" alt="">
            </div>
          </div>
          <div id="placeholder-24" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-3-2-end" class="placeholder">
            <img data-src="assets/elements/lungs000-2.png" id="slide-0" class="slide-base responsive tablet" alt="">
          </div>
        </div>
        <div class="row justify-content-center position-relative">
          <div class="text block-text mobile-mb full-block-mobile col-12">
            <p>As IPF progresses, sheets of dense scar tissue replace normal lung tissue and shrink the size of the lung. </p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-3-3">
          <div id="animation-3-3" class="animation">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
            <img data-src="assets/elements/lungs025.jpg" id="slide-25" class="responsive" alt="">
            <img data-src="assets/elements/lungs026.png" id="slide-26" class="responsive" alt="">
            <img data-src="assets/elements/lungs028.jpg" id="slide-28" class="responsive" alt="">
            <img data-src="assets/elements/lungs027.png" id="slide-27" class="responsive" alt="">
            <img data-src="assets/elements/lungs030.jpg" id="slide-30" class="responsive" alt="">
            <img data-src="assets/elements/lungs031.jpg" id="slide-31" class="responsive" alt="">
            <img data-src="assets/elements/lungs029.png" id="slide-29" class="responsive" alt="">
          </div>
          <div id="placeholder-26" class="col-12 placeholder"></div>
          <div id="placeholder-27" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div class="text block-text col-8">
            <p>Some areas of the lung may be replaced by thick-walled cystic airspaces called <strong>“honeycombs,”</strong> which may be seen on HRCT scans. </p><br/>
            <p>Honeycombing means there is complete destruction of healthy lung tissue, and the areas of the lung where honeycombing forms no longer allow oxygen to enter the bloodstream. Honeycombing and scarring of the lungs result in shortness of breath, coughing, and other symptoms of IPF.</p>
          </div>
          <div id="placeholder-29" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-31" class="col-12 placeholder"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-3-3-end" class="placeholder">
            <img src="assets/elements/lungs000-3.png" id="slide-0" class="slide-base" alt="">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="text block-text full-block-mobile mobile-mt col-7">
            <p>When IPF first begins, you may not experience any symptoms, like shortness of breath and coughing.
              Therefore, it’s important to remember that symptoms are not the only indication of what’s occurring inside your body. </p>
            <br/>
            <p class="big">Even without symptoms present, IPF may still be progressing and causing irreparable damage to your lungs. </p>
            <br/>
            <p>Additionally, progression doesn’t always show up on HRCT scans, which is why it’s important that other tests are performed.</p>
          </div>
          <div class="quote col-md-10">
            <div class="box">
              <p>“When I was diagnosed, my IPF had already progressed quite a bit."</p>
              <br/>
              <p>&mdash; Gene, <span class="small">PERSON LIVING WITH</span><span> IPF</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="callout col-lg-9">
            <h3>Learning about IPF progression may be difficult, but you can take charge of your care by reading about a treatment option that may help slow progression.</h3>
            <a href="https://www.ofev.com/about-ofev" (click)="openExternal($event.target)">Read About a Treatment Option for IPF</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>