<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-8">
            <div class="id">
              <div class="label">
                <p>3</p>
              </div>
            </div>
            <div class="text normal">
              <h1>Scarring Progresses</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content" id="container-3">
        <div class="row justify-content-center position-relative">
          <div class="text copy col-7">
            <p>As time goes on, the abnormal “healing” process creates more and more thick scar tissue in the alveoli walls and the spaces around the alveoli.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="quote col-10">
            <div class="box">
              <p>“When I was diagnosed, my IPF had already progressed quite a bit."</p>
              <p>&mdash; Gene, <span>PERSON LIVING WITH THE IPF</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row">
      <div class="container content">
        <div class="row justify-content-center">
          <div class="callout col-9">
            <h3>Learning about IPF progression may be difficult, but you can take charge of your care by reading about a treatment option that may help slow progression.</h3>
            <a href="#">Read About a Treatment Option for IPF</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>