<section>
  <nav class="container-fluid">
    <div class="row">
      <div class="mobile-hero d-md-none">
        <img src="assets/heroes/section2-mobile-hero.jpg" alt="">
      </div>
      <div class="container content">
        <div class="row justify-content-center">
          <div class="title col-lg-10">
            <div class="id">
              <div class="label">
                <p>2</p>
              </div>
            </div>
            <div class="text normal">
              <h1>The Lungs’ Healing Process</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid main">
    <div class="row overflow-hidden">
      <div class="container content">
        <div class="row justify-content-center position-relative" id="container-2-1">
          <div id="animation-2-1" class="animation">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
            <img data-src="assets/elements/lungs001.jpg" id="slide-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs002.jpg" id="slide-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs003-1.png" id="slide-3-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs003-2.png" id="slide-3-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs004.jpg" id="slide-4" class="responsive" alt="">
            <img data-src="assets/elements/lungs005-1.png" id="slide-5-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs005-2.png" id="slide-5-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs005-3.png" id="slide-5-3" class="responsive" alt="">
            <img src="assets/elements/lungs006.jpg" id="slide-6" alt="">
            <img data-src="assets/elements/lungs007-1.png" id="slide-7-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs007-2.png" id="slide-7-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs007-3.png" id="slide-7-3" class="responsive" alt="">
            <img src="assets/elements/lungs008.jpg" id="slide-8" alt="">
            <img data-src="assets/elements/lungs009-1.png" id="slide-9-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs009-2.png" id="slide-9-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs009-3.png" id="slide-9-3" class="responsive" alt="">
            <img src="assets/elements/lungs006.jpg" id="slide-10" alt="">
            <img data-src="assets/elements/lungs009-1.png" id="slide-11-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs011-2.png" id="slide-11-2" class="responsive" alt="">
          </div>
          <div id="placeholder-1" class="col-12 placeholder"></div>
          <div id="placeholder-2" class="col-12 placeholder"></div>
          <div id="placeholder-3-1" class="col-12 placeholder step"></div>
          <div id="placeholder-3-2" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-4" class="col-12 placeholder"></div>
          <div id="placeholder-5-1" class="col-12 placeholder step"></div>
          <div id="placeholder-5-2" class="col-12 placeholder step"></div>
          <div id="placeholder-5-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-6" class="col-12 placeholder"></div>
          <div id="placeholder-7-1" class="col-12 placeholder step"></div>
          <div id="placeholder-7-2" class="col-12 placeholder step"></div>
          <div id="placeholder-7-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div class="text block-text col-10 col-lg-8">
            <p>Sometimes the lungs are exposed to harmful events that cause injuries to the tiny air sacs inside the
              lungs, called <strong>alveoli</strong>. The body responds by sending a variety of cells to heal the
              injury, and one type is called <strong>fibroblasts</strong>.</p>
          </div>
          <div id="placeholder-8" class="col-12 placeholder"></div>
          <div id="placeholder-9-1" class="col-12 placeholder step"></div>
          <div id="placeholder-9-2" class="col-12 placeholder step"></div>
          <div id="placeholder-9-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div class="text block-text col-8">
            <p>In a normal lung, the healing process ends once the lung has returned to a healthy state. </p>
          </div>
          <div id="placeholder-10" class="col-12 placeholder"></div>
          <div id="placeholder-11-1" class="col-12 placeholder step"></div>
          <div id="placeholder-11-2" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-2-1-end" class="placeholder">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
          </div>
        </div>
        <div class="row justify-content-center position-relative">
          <div class="text emphasis col-12">
            <p>In the lung of a person with IPF, the healing process does not end.</p>
          </div>
        </div>
        <div class="row justify-content-center position-relative" id="container-2-2">
          <div id="animation-2-2" class="animation">
            <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
            <img src="assets/elements/lungs012.jpg" id="slide-12" alt="">
            <img data-src="assets/elements/lungs013-1.png" id="slide-13-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs013-2.png" id="slide-13-2" class="responsive" alt="">
            <img src="assets/elements/lungs014.jpg" id="slide-14" alt="">
            <img data-src="assets/elements/lungs013-1.png" id="slide-15-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs015-2.png" id="slide-15-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs015-3.png" id="slide-15-3" class="responsive" alt="">
            <img data-src="assets/elements/lungs015-4.png" id="slide-15-4" class="responsive" alt="">
            <img src="assets/elements/lungs016.jpg" id="slide-16" alt="">
            <img data-src="assets/elements/lungs017-1.png" id="slide-17-1" class="responsive" alt="">
            <img data-src="assets/elements/lungs017-2.png" id="slide-17-2" class="responsive" alt="">
            <img data-src="assets/elements/lungs017-3.png" id="slide-17-3" class="responsive" alt="">
          </div>
          <div id="placeholder-12" class="col-12 placeholder"></div>
          <div id="placeholder-13-1" class="col-12 placeholder step"></div>
          <div id="placeholder-13-2" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div class="text block-text col-8">
            <p>It is thought that fibroblasts do not “turn off” and, instead, continuously try to heal the lungs, leading to a buildup of scar tissue.</p>
          </div>
          <div id="placeholder-14" class="col-12 placeholder"></div>
          <div id="placeholder-15-1" class="col-12 placeholder step"></div>
          <div id="placeholder-15-2" class="col-12 placeholder step"></div>
          <div id="placeholder-15-3" class="col-12 placeholder step"></div>
          <div id="placeholder-15-4" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="placeholder-16" class="col-12 placeholder"></div>
          <div id="placeholder-17-1" class="col-12 placeholder step"></div>
          <div id="placeholder-17-2" class="col-12 placeholder step"></div>
          <div id="placeholder-17-3" class="col-12 placeholder step"></div>
          <div class="col-12 placeholder"></div>
          <div id="animation-2-2-end" class="placeholder">
              <img src="assets/elements/lungs000-1.png" id="slide-0" class="slide-base" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>