@import "src/assets/scss/section.scss";

section {
    padding-bottom: 50px;
    nav {
        background: url('/assets/heroes/section2-hero.jpg') center top no-repeat;
    }
    .main {
        .content {
            .row {
                .animation {
                    position: absolute;
                    top: 0;
                    img {
                        width: 100%;
                        &:not(:first-of-type) {
                            position: absolute;
                            top : 0;
                            left: 0;
                        }
                    }
                    #slide-1 {
                        transform: scale(0.86);
                    }
                    #slide-2, #slide-3-1, #slide-3-2 {
                        top: -100px;
                    }
                    #slide-4 {
                        transform-origin: 23.2% 68.3%;
                        transform: scale(0.03);
                    }
                    #slide-6 {
                        transform-origin: 62.7% 88.1%;
                        transform: scale(0.1);
                    }
                    &.fixed {
                        position: fixed;
                        top: 70px;
                    }
                    &.absolute {
                        position: absolute;
                        top: auto;
                        bottom: 0;
                    }
                }
                #animation-2-1-end, #animation-2-2-end {
                    height: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024.98px) {
    section {
        .main {
            .content {
                .row {
                    .animation {
                        #slide-2, #slide-3-1, #slide-3-2 {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767.98px) {
    section {
        padding-bottom: 25px;
        .main {
            .content {
                .row {
                    .placeholder.step#placeholder-15-4, .placeholder.step#placeholder-17-3 {
                        height: 0;
                    }
                    .animation {
                        #slide-4 {
                            transform-origin: 28% 64.7%;
                        }
                        &.fixed {
                            top: 47px;
                        }
                        &.absolute {
                            top: initial;
                        }
                    }
                }
            }
        }
    }
}