#RewriteEngine On
#RewriteBase /

# allow social media crawlers to work by redirecting them to a server-rendered static version on the page
# RewriteCond %{HTTP_USER_AGENT} (facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)
# RewriteRule ^(.*)$  /understanding-ipf-progression/crawler.php [R=301,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(crawler\.php)
#RewriteRule ^(.*)$ /index.html [NC,QSA]
