/* Imports */

@import url('https://fonts.googleapis.com/css?family=Lora');

/* Fonts */

@font-face {
    font-family: "Lato Heavy";
    src: url("assets/fonts/Lato-Heavy.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@import "assets/scss/variables.scss";

/* Overrides */

@media (min-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

/* Global Styles */
body {
    padding-top: 70px; // Nav Height
}
h1 {
    font-family: $lora;
    margin-bottom: 0;
}
p {
    font-family: $lato;
    color: #4d4d4d;
    strong {
        font-family: $lato-heavy;
    }
}
a {
    position: relative;
    font-weight: 700;
    color: $orange !important;
    &:hover {
        // color: $orange;
        text-decoration: none;
    }
    &.pluck {
        img {
            vertical-align: baseline;
        }
        &.active {
            &:before{
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                border-bottom: 16px solid #e7eeee;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                right: -5px;
                top: 24px;
                // box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.2);
            }
            &:after {
                content: 'Trolololol';
                display: block;
                position: absolute;
                background-color: #e7eeee;
                top: 50px;
                width: 100%;
            }
        }
    }
}
ul {
    list-style: none;
    margin-left: -20px;
    li {
        p {
            display: inline-block;
            margin-left: 15px;
        }
        &:before {
            content: "\2022";
            color: #44a691;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
          }
    }
}